<turbo-frame id="dashboard-data" data-controller="fetch-dashboard">
    <div class="container-xl">
        <div class="row mb-5">
            <div class="col-12 col-md-5 col-lg-3 mb-5 md-md-0">
                <div class="card">
                    <div class="card-header text-bg-dark">
                        <h5 class="card-title">Global infos:</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p class="card-text text-end">
                                    Total balance: <strong>****$</strong>
                                </p>
                            </li>
                            <li class="list-group-item">
                                <p class="card-text text-end">
                                    Total deposits: ****$
                                </p>
                                <p class="card-text text-end">
                                    Total withdraws: ****$
                                </p>
                                <p class="card-text text-end">
                                    Total PnL: <strong>****$</strong>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-header text-bg-dark">
                        <h5 class="card-title">Portfolio distribution:</h5>
                    </div>
                    <div class="card-body">
                        <p>loading...</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover align-middle text-center rounded-top overflow-hidden ">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">Token</th>
                        <th scope="col">Actual price</th>
                        <th scope="col">Average buy price</th>
                        <th scope="col">Average sell price</th>
                        <th scope="col">Balance</th>
                        <th scope="col">Balance in $</th>
                        <th scope="col">Potential profits</th>
                        <th scope="col">%</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</turbo-frame>